# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
*.egg
dist/
build/
*.mo
*.pot

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env

# Secrets
secrets/

# Cache
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Audio/Video
temp_*
